<template>
  <div class="wrapper">
    <div class="container">
      <div class="row align-items-center h-100">
        <div class="col-12 text-center">
          <h1 class="mb-2">
            <b class="text-primary">[</b> Addicted Coffee <b class="text-primary">]</b>
          </h1>

          <blockquote class="blockquote">
            <p class="text-primary mb-0">"Brew code, write coffee"</p>
          </blockquote>

          <a class="text-info" href="mailto:dev@addicted.coffee">dev@addicted.coffee</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "",
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
  .container {
    height: 100vh;
  }
</style>
